body {
    background-color:palegoldenrod; 
    font: 15px san-serif;
}
div {
    border: solid;
    border-width: thick;
}

img {
    border-style: double;
    border-width: thick;
}

.checked {
    color: orange;
}
.site{
    width: auto;
}
.rating{
    width: 90px;
}
table, th, td {
    border: 1px solid black;
}
